{% extends 'base.html' %} {% load static %}

<!-- Page title -->

{% block title %}Login{% endblock %}

<!-- Head section -->

{% block extra_head %}
<link rel="stylesheet" href="{% static 'login.css' %}" />
{% endblock %}

<!-- Main body content -->

{% block content %}

<h1>Login here</h1>

<form action="" method="POST">
  {% csrf_token %} 

  {% for field in form %}
    <p>
      {{ field.label }}: 
        <br />
      {{ field }}
    </p>
  {% endfor %}
  <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'user_auth:register' %}">Signup here</a></p>

{% endblock %}
